.flash {
	width: 50%;
	height: auto;
	padding: 20px;
	font-weight: bold;
	margin: 0 auto;
	border: 2px black;
	background: lightgray;
	color: black;
	font-size: 14px;
	font-family: Verdana, serif;
}

.flash.error {
	background: red;
}

.flash.success {
	background: green;
}

ul.errors {
	list-style: none;
	padding: 0;
}

ul.errors li {
	width: 50%;
	height: auto;
	padding: 20px;
	font-weight: bold;
	margin: 0 auto;
	border: 2px black;
	background: red;
	color: black;
	font-size: 14px;
	font-family: Verdana, serif;
}