{block content}
<div class="cover-container">
  <h1>Hra {$game->name} se připravuje...</h1>
<br>

<h2>Seznam hráčů</h2>
<button type="button" class="btn btn-default btn-lg active">Zahájit hru</button>
</div>